Docs: add some info on encoding of BODS json

I don't think that any detailed guidance is required for the moment. But it's probably worth referencing the JSON specifications: IETF's [RFC 8259](https://www.rfc-editor.org/rfc/rfc8259) and [ECMA-404](https://www.ecma-international.org/wp-content/uploads/ECMA-404_2nd_edition_december_2017.pdf). In particular, we might want to draw people's attention to:

- Section 9 of the ECMA-404 spec which deals with strings, encoding and escaping;
- Using UTF-8 for maximal interoperability (section 8.1 of RFC 8259);
- The option to escape characters that might cause problems when ingesting data (for example: &, <).

Is there anything else that should be covered?

I think [this page](https://standard.openownership.org/en/0.2.0/schema/guidance/serialization.html) could be edited to include the above.

OCDS data requires conformance with the I-JSON (Internet JSON) specification in [RFC7493](https://tools.ietf.org/html/rfc7493). We should consider that.

While we maintain requirements around statement order in the top-level BODS JSON array, we cannot require conformance with I-JSON, because:

> The order of object members in an I-JSON message does not change the meaning of an I-JSON message.  A receiving implementation MAY treat two I-JSON messages as equivalent if they differ only in the order of the object members.

[See section 2.3 of the spec](https://datatracker.ietf.org/doc/html/rfc7493#section-2.3)